{% extends 'base.html' %}
{% load markdownify %}


{% block content %}
    <main>
        <h1>Your Shopping List</h1>
        <div class="create-link">
            <form method="post" action="{% url "shopping_list_delete"%}">
                {% csrf_token%}
                <button class="button">Delete All</button>
            </form>
            {% comment %} <a href="{% url 'shopping_list_delete' %}">Delete meal plan</a> {% endcomment %}
        </div>
        <div>
            <ul>
                {% for item in shoppingitem_list %}
                    <li>{{ item.food_item }}</li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock content %}
