{% extends 'paginate.html' %}
{% load static %}
{% load markdownify %}

{% block content %}
    <h1>Authors:</h1>
    <h2>Under construction</h2>
    <main class="recipe-grid">
    <p>
        <form method="GET">
        <input type="text" name="q">
        <button type="submit">Search</button>
        </form>
    </p>
    {% for athr in user_model_list %}
        <p>hi!</p>
        <p>{{ athr.username | default:"na" }}</li>
        {% comment %} <div class="recipe-card">
            <h2 class="recipe-card-title">
                <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
            </h2>
        </div> {% endcomment %}
    {% endfor %}
    </main>
{% endblock content %}