{% extends 'base.html' %}
{% load static %}
{% load markdownify %}

{% block content %}
    <main class="recipe-form">
        <form method="post">
          {% csrf_token %}
          <p>Are you sure you want to delete "{{ tag.name }}"?</p>
          {{ form.as_p }}
          <div class="control">
            <button class="button">Delete</button>
          </div>
        </form>
      </main>
{% endblock content %}