{% extends 'base.html' %}
{% load static %}
{% load markdownify %}


{% block content %}
        <main class="recipe-detail">
            <div>
              <a href="{% url 'tag_edit' tag.id %}">Edit</a>
              <a href="{% url 'tag_delete' tag.id %}">Delete</a>
            </div>
            <h1>{{ tag.name }}</h1>
            <h2>by: {{ tag.author | default_if_none:"Unknown"}}</h2>
            <h3>updated by: {{ tag.updated_by | default_if_none:"No updates yet"}} </h3>
            <p>Recipe(s): {% for recipe in tag.recipes.all %}{{ recipe.name }},  {% endfor %}</p>
        </main>
{% endblock content %}
