{% extends 'base.html' %}

{% load static %}
{% load markdownify %}
{% block content %}
        <main class="recipe-form">
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="control">
                <button class="button">Create Tag</button>
              </div>
            </form>
          </main>
{% endblock content %}
