{% extends 'base.html' %}


{% block content %}
<main class="recipe-form">
    <h2>Woah!</h2>
    <form method="post">
      {% csrf_token %}
      <p>Are you sure you want to delete "{{ mealplan.name }}"?</p>
      {{ form.as_p }}
      <div class="control">
        <button class="button">Delete</button>
      </div>
    </form>
  </main>
{% endblock content %}