{% extends 'base.html' %}


{% block content %}
<main class="recipe-form">
    <h2>Edit {{ mealplan.name }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="control">
            <button class="button">Submit</button>
        </div>
    </form>
</main> 
{% endblock content %}