{% extends 'paginate.html' %}
{% load markdownify %}


{% block content %}
    <main>
        <div class="create-link">
            <a href="{% url 'meal_plan_new' %}">Create meal plan</a>
        </div>
        <div class="recipe-grid">
            {% for mealplan in mealplan_list %}
                <div class="plan-card">
                    <h2 class="recipe-card-title">
                    <a href="{% url 'meal_plan_detail' mealplan.pk %}">{{ mealplan.name }}</a>
                    </h2>
                    {% for recipe in mealplan.recipes.all %}
                        <li>{{ recipe.name }}</li>
                </div>
                    {% endfor %}
            {% endfor %}
        </div>
    </main>
{% endblock content %}
