{% extends 'base.html' %}


{% block content %}
    <main class="recipe-form">
        <h2>Create Meal Plan</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="control">
                <button class="button">Submit</button>
            </div>
        </form>
    </main> 
{% endblock content %}


{% comment %} <main class="recipe-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="control">
        <button class="button">Create</button>
      </div>
    </form>
  </main> {% endcomment %}