@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, button, select, textarea, input {
    font-family: 'Roboto';
    font-size: 16px;
    background-color: rgb(210, 204, 218);
}

header nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
}
      
header {
    background-color: #cbcbcb;
    padding: 20px;
}

a,
a:visited {
    text-decoration: none;
    color: #80a2b8;
}

button {
    background-color: #125de0;
    border: 2px solid transparent;
    border-radius: 4px;
    color: white;
    padding: 1em 1.5em;
    text-transform: uppercase;
}

button:hover {
    background-color: #7299dc;
    border-color: #124399;
    color: #4a505b;
}

button:active {
    background-color: rgb(83, 119, 138);
}

input, textarea {
    border: 1px solid #125de0;
    border-radius: 4px;
    padding: 1em 1.5em;
    background-color: #e6e6e6;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: 2em;
}

.control {
    text-align: right;
}

.recipe-detail {
    margin: 4em auto;
    min-width: 300px;
    max-width: 800px;
    padding: 30px;
    border-radius: 20px;
    background-color: #c5d2ea;
}

.recipe-form p {
    display: grid;
    grid-template-columns: 8em 1fr;
    column-gap: 20px;
}

.recipe-form label {
    text-align: right;
}

.recipe-form {
    margin: 4em auto;
    min-width: 300px;
    max-width: 800px;
}

.pull-right {
    float: right;
    margin: 1em;
    max-width: 200px;
}

.recipe-card-title {
    margin-bottom: 0;
}
  
  .recipe-card-date {
    color: rgb(127, 127, 127);
}

.recipe-card {
    background-color: #c5d2ea;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.plan-card {
    background-color: #c5d2ea;
    border-radius: 15px;
    padding-bottom: 20px;
    text-align: center;
}

.create-link {
    padding: 20px;
    padding-bottom: 0px;
}

.plan-detail {
    margin: 4em auto;
    min-width: 300px;
    max-width: 800px;
    padding: 30px;
    border-radius: 20px;
    background-color: #c5d2ea;
}