{% load static %}
{% load markdownify %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scrumptious</title>
  <link rel="stylesheet" href="{% static 'css/apps.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
        <li>
          <a href="{% url 'home' %}">Recipes</a>
        </li>
        <li>
          <a href="{% url 'author_list' %}">Authors</a>
        </li>
        {% if user.is_staff %}
          <li>
            <a href="{% url 'admin:index' %}">Admin</a>
          </li>
        {% endif %}
        <li>
          <a href="{% url 'recipe_new' %}">Write a recipe</a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'meal_plans_list' %}">Meal Plans</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'shopping_list' %}">Shopping List ({{ user.shopping_items.all | length }})</a>
        </li>
        {% endif %}
        <li>
            <a href="{% url 'tags_list' %}">Tags</a>
        </li>
        <li>
          <a href="{% url 'tag_new' %}">Create new tag</a>
      </li>
      </ul>
    </nav>
  </header>
  {% block content %}
  {% endblock content %}
</body>
<footer>
  {% block pagination %}
  {% endblock pagination %}
</footer>

</html>
